@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

ul > li > a{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 21px;
}

.navbar-right > li > a{
  padding-right: 50%;
}
.navbar{
  margin:0;
  border-radius: 0;
}
/****** BODY ******/
body, html{
  height: 100%;
}
h1, h2{
    font-family: "Lato", sans-serif;
    text-align: center;
    margin: 0;
}
h1 {
  font-weight: 900;
  font-size: 114px;
  line-height: 1;
  letter-spacing: -2px;
}
h2{
  font-weight: 100;
  font-style: normal;
  font-size: 100px;
  line-height: 1.1;
  letter-spacing: 0px;
}
#accueil{
  padding: 20vh;
  background-color: #919191;
  background: url("img/taxi-cab-car-woman-7405-modif.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 0 0 7px rgba(0,0,0, 1);
}
#accueil > h1, #accueil > h2{
  color: #ffffff;
}
#accroche{
  min-height: 50vh;
  padding: 10vh;
  background-color: #FFD405;
}
#accroche > h1{
  font-weight: inherit;
  color: #000000;
}
#accroche > h2{
  color: #000000;
}
#accueil{
  min-height: 75vh;
  text-align: middle;
}