@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

ul > li > a{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 21px;
}

.navbar{
  margin:0;
  border-radius: 0;
}

.navbar-toggle .icon-bar {
    width: 28px;
    height: 4px;
    border-radius: 0px;
}

/****** BODY ******/
body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}
h1, h2{
    font-family: "Lato", sans-serif;
    margin: 0;
}
h1 {
  font-weight: 900;
  font-size: 114px;
  line-height: 1;
  letter-spacing: -2px;
}
h2{
  font-weight: 100;
  font-style: normal;
  font-size: 100px;
  line-height: 1.1;
  letter-spacing: 0px;
}

#accueil{
  /*padding: 20vh;*/
  padding-top: 20vh;
  background-color: #919191;
  background: url("img/taxi-cab-car-woman-7405-modif.jpg") no-repeat fixed 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titles-container > h1, .titles-container > h2{
  text-shadow: 0 0 7px rgba(0,0,0, 1);
}


@media (max-width: 1280px){
  h1{
    font-size: 76px;
  }
  h2{
    font-size: 89px;
  }
  #accueil{
    /*padding: 10vh;*/
    padding-top: 20vh;
  }
}
@media (max-width: 992px){
  h1{
    font-size: 100px;
  }
  h2{
    font-size: 85px;
  }
  #accueil{
    /*padding: 10vh;*/
    padding-top: 20vh;
  }
}
@media (max-width: 768px){
  h1{
    font-size: 75px;
  }
  h2{
    font-size: 48px;
  }
  #accueil{
    /*padding: 5vh;*/
    padding-top: 20vh;
  }
}
@media (max-width: 320px){
  h1{
    font-size: 46px;
  }
  h2{
    font-size: 32px;
  }
  #accueil{
    /*padding: 10vh;*/
    padding-top: 20vh;
  }
}

#accueil > div > h1, #accueil > div > h2{
  color: #ffffff;
}
#accroche{
  display: inline-block;
  width: 100%;
  padding: 15vh;
  background-color: rgb(255, 212, 5);
  text-align: center;
}
#accroche > h1{
  font-weight: inherit;
  color: #000000;
}
#accroche > h2{
  color: #000000;
}
#accueil{
  display: inline-block;
  min-height: 80vh;
  text-align: middle;
  width: 100%;
  margin-bottom: -5px;
}
.titles-container{
  margin-bottom: 4vh;
  text-align: left;
}

#main-box{
  padding-bottom: 16px;
  background-color: rgba(255, 212, 5, 0.9);
  margin-bottom: 4vh;
}
.box{
  background-color: white;
  padding: 32px;
  margin-top: 1%;
}
.box-title{
  background-color: initial;
  margin-bottom: initial;
  padding: initial;
  padding: 10px 0px 8px 32px;
}
.box-number{
  padding: 36px;
}

#prestations{
  background: url('img/city-cars-road-traffic.jpg') no-repeat fixed;
  background-size: cover;
}

.marketing-prestations{
  padding-top: 10vh;
  padding-bottom: 12vh;
  text-align: center;
}

.moto-text{
  font-family: "Lato", sans-serif;
  font-weight: inherit;
  font-weight: 500;
  font-size: 5vh;
  color: white;
  display: inline-block;
  vertical-align: middle;
}

.marketing-prestations > .moto-text > strong{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 5.5vh;
  color: white;
}

.images-prestations{
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-left: 7vh;
}